{% extends 'layouts/default.njk' %}

{% block head %}
    <mj-attributes>
        <mj-button border-radius="0" border="1px solid #fff" background-color="none"  />
        <mj-text font-family="Arial, sans-serif" line-height="22px" />
    </mj-attributes>
    <mj-title>Forum Nucleair</mj-title>
{% endblock %}

{% block content %}
    <mj-section padding="0">
        <mj-image padding="0" src="images/header.png"></mj-image>
    </mj-section>
    <mj-section>
        <mj-column>
            <mj-text>
            Cherenkov radiation results when a charged particle, most commonly an electron.
            </mj-text>
            <mj-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium posuere lectus non tristique. Nulla commodo ultrices est eget tempus. Curabitur congue tempus sem, vitae vehicula sem rutrum in. Sed diam nisi, rutrum eu ullamcorper sed, sollicitudin quis orci. Fusce fermentum blandit ultricies. Vestibulum dictum.
            </mj-text>
            <mj-button align="center" css-class="button">
            Ontdek meer
            </mj-button>
        </mj-column>
    </mj-section>
    <mj-section background-color="#006B89">
        <mj-column>
            <mj-text color="#FFFFFF">
            Cherenkov radiation results when a charged particle, most commonly an electron.
            </mj-text>
            <mj-text color="#FFFFFF">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium posuere lectus non tristique. Nulla commodo ultrices est eget tempus. Curabitur congue tempus sem, vitae vehicula sem rutrum in. Sed diam nisi, rutrum eu ullamcorper sed, sollicitudin quis orci. Fusce fermentum blandit ultricies. Vestibulum dictum.
            </mj-text>
            <mj-button align="center">
            Ontdek meer
            </mj-button>
        </mj-column>
    </mj-section>
    <mj-section padding="0">
        <mj-image padding="0" src="images/skyline.png"></mj-image>
    </mj-section>
    <mj-section padding="0" background-color="#009992">
        <mj-column  color="#FFFFFF">
            <mj-text color="#FFF">Extra short title</mj-text>
            <mj-text coloe="#FFF">Lorem ipsum</mj-text>
            <mj-button aling="center">
                Ontdek meer
            </mj-button>
        </mj-column>
        <mj-column>
            <mj-image padding="0" src="images/article-temp.png"></mj-image>
        </mj-column>
    </mj-section>
    <mj-section padding="0" background-color="#BC8FC1">
        <mj-column>
            <mj-image padding="0" src="images/article-temp.png"></mj-image>
        </mj-column>
        <mj-column  color="#FFFFFF">
            <mj-text color="#FFF">Extra short title</mj-text>
            <mj-text coloe="#FFF">Lorem ipsum</mj-text>
            <mj-button aling="center">
                Ontdek meer
            </mj-button>
        </mj-column>
    </mj-section>
    <mj-section>
        <mj-text>Meer nieuws</mj-text>
        <mj-column>
            <mj-image></mj-image>
            <mj-text>
                <span style="color: #A40042;">DOSSIER</span>
                 Belgische elektriciteitsmix in augustus 2018.
            </mj-text>
        </mj-column>
    </mj-section>
    <mj-section>

    </mj-section>
    <mj-section>

    </mj-section>
{% endblock %}
