<mjml>
    <mj-head>
        {% block head %}{% endblock %}
        <mj-style src="../../../public/{{ folder }}/css/queries.css" cssinline></mj-style>
        <mj-style src="../../../public/{{ folder }}/css/styles.css" cssinline inline="inline"></mj-style>
    </mj-head>
    <mj-body>
        {% include 'partials/supheader.njk' %}

        {% for block in content.blocks %}
            {% set data = block.data %}
            {% include '../partials/' + block.type + '.njk' %}
        {% endfor %}

        {% include 'partials/footer.njk' %}
    </mj-body>
</mjml>
