<mjml>
    <mj-head>
        <mj-title>{{ content.title|safe }}</mj-title>

        <mj-attributes>
            {% block attributes %}
                <mj-all font-family="Helvetica, Arial, sans-serif"></mj-all>
                <mj-button target="_blank"></mj-button>
            {% endblock %}
        </mj-attributes>

        {% block fonts %}
            <!-- <mj-font name="FontName" href="https://recurring-5143.kxcdn.com/client/fonts/path.css" /> -->
        {% endblock %}

        {% block styles %}
            <mj-style
                src="../../../{{ destinationPath }}/{{ folder }}/css/queries.css"
                cssinline
            ></mj-style>
            <mj-style
                src="../../../{{ destinationPath }}/{{ folder }}/css/styles.css"
                cssinline
                inline="inline"
            ></mj-style>
        {% endblock %}
    </mj-head>
    <mj-body>
        {% include 'partials/supheader.njk' %}

        {% block blocks %}
            {% for block in content.blocks %}
                {% set data = block.data %}
                {% include '../partials/' + block.type + '.njk' %}
            {% endfor %}
        {% endblock %}

        {% include 'partials/footer.njk' %}
    </mj-body>
</mjml>
