<html>
    <head>
        <title>Overview E-mail Templates</title>
        <style>

        </style>
    </head>
    <body>
        <h1>E-mail template framework overview</h1>
        <div>
            {% overview %}{% endoverview %}
        </div>
    </body>
</html>
